@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

.nanummyeongjo * {
 font-family: 'Nanum Myeongjo', serif;
}
*{
  font-family: 'Nanum Myeongjo', serif;
  box-sizing: border-box;
}
.title{
  text-align: center;
}

.boxborder{
  border:1px solid rgb(125, 123, 123);
  margin-top:30px;
}

.search{
  margin-top:20px;
}

.List{
  margin-top: 5px;


}

.Listteduri{
  border: 1px solid gainsboro;
  padding: 5px;
  align-items: center;  
}
